<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.obrasacessiveis" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/quadro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quadro"
        android:supportsRtl="true"
        android:theme="@style/Theme.ObrasAcessiveis"
        tools:targetApi="31" >
        <activity
            android:name=".ListarObrasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ListarObrasUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".FazerCadastroActivity"
            android:exported="false" />
        <activity
            android:name=".AdicionarObrasActivity"
            android:exported="false" />
        <activity
            android:name=".ObraCadastradaActivity"
            android:exported="false" />
        <activity
            android:name=".ObrasInfoAdminActivity"
            android:exported="false" />
        <activity
            android:name=".AtualizarObrasActivity"
            android:exported="false" />
        <activity
            android:name=".ObrasInfoUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".SairActivity"
            android:exported="false" />
        <activity
            android:name=".SairActivityUser"
            android:exported="false" />
        <activity
            android:name=".Session"
            android:exported="false" />
        <activity
            android:name=".SessionAdmin"
            android:exported="false" />
        <activity android:name="com.example.mediaplayer.VideoViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AudioPlayerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>